<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/icon.ico" type="image/x-icon">
    <title>@ViewData["Title"] - EditorWeb</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EditorWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    @*    <link rel="stylesheet" href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css"> *@
</head>
<body>
    @{
        bool isAdmin = User.IsInRole("Admin");
        bool isManager = User.IsInRole("Manager");
        bool canEdit = User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("EditorWeb");

    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logoheader.png" width="200" alt="EditorWeb Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @*        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"><i class="fa fa-dashboard"></i> Dashboard</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-database"></i> Over View </a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fa fa-building"></i> Company </a></li>

</ul>
                        </li> *@
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Index"> <i class="fa fa-building"></i> Dashboard</a>
                        </li>

                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"><i class="fa fa-file-text"></i> Reports</a>
                            <ul class="dropdown-menu">
                                @*                                 <li><a class="dropdown-item text-dark" asp-action="Index" asp-controller="Report"><i class="fa fa-file-text-o"></i> Yearly Report</a></li>
                                <li><a class="dropdown-item text-dark" asp-action="Index" asp-controller="Report"><i class="fa fa-file-text-o"></i> Monthly Report</a></li> *@
                                <li><a class="dropdown-item text-dark" asp-action="Index" asp-controller="Report"><i class="fa fa-file-text-o"></i> Daily Report</a></li>
                                @*     <li><a class="dropdown-item text-dark" asp-action="Index" asp-controller="Report"><i class="fa fa-file-text-o"></i> Charts</a></li> *@
                            </ul>
                        </li>
                        @if (canEdit)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"><i class="fa fa-user"></i> Admin </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-dark" asp-action="Index" asp-controller="Client"> <i class="fa fa-building"></i> Client </a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="Website" asp-action="Index"> <i class="fa fa-globe"></i> Websites </a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="GeneralArticle" asp-action="Index"> <i class="fa fa-cloud-upload"></i>  Articles </a></li>
                                    <li><a class="dropdown-item text-dark" asp-action="Index" asp-controller="Publication"> <i class="fa fa-newspaper-o"></i> Publication </a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="GeneralNewspaper" asp-action="Index"> <i class="fa fa-send"></i>  Newspapers </a></li>
                                    <li><a class="dropdown-item text-dark" asp-action="Index" asp-controller="Channel"> <i class="fa fa-video-camera"></i> Channels </a> </li>
                                    <li><a class="dropdown-item text-dark" asp-action="Index" asp-controller="Writer"> <i class="fa fa-pencil"></i> Writers </a> </li>

                                </ul>
                            </li>

                        }

                        @if (isAdmin)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"><i class="fa fa-cog"></i> Setting</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-dark" asp-action="Index" asp-controller="User"><i class="fa fa-user-o"></i> Users </a></li>

                                    <li><a class="dropdown-item text-dark" href="#"><i class="fa fa-vcard-o"></i> Logs </a></li>



                                </ul>
                            </li>
                        }
                        <li class="nav-item">

                            <form asp-controller="Account" asp-action="Logout" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="nav-link text-dark">
                                    <i class="fa fa-sign-out"></i>
                                    Sign Out
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - EditorWeb - <a href="https://idtecheg.com">Powered By ID Tech</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
