<a asp-action="Index"
   asp-controller="ClientArticle"
   asp-route-clientId="@Model.ClientId"
   class="btn btn-success ">
    Open Website
</a>
<a asp-action="Index"
   asp-controller="ClientNewsPaper"
   asp-route-clientId="@Model.ClientId"
   class="btn btn-warning ">
    Open Publications
</a>
<a asp-action="Index"
   asp-controller="ClientVideo"
   asp-route-clientId="@Model.ClientId"
   class="btn btn-danger ">
    Open Videos
</a>